body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 200px; /* Adjust this value as needed */
  }

  .card-body {
    min-height: 400px; /* Adjust this value as needed */
   
  }

  .card-body.bg-light {
    height: 800px; /* Adjust the height value as needed */
}

  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }
  
  